{
  email alabamaster1@gmail.com
}

call.playerinlife.ru {
    encode gzip

    root * /var/www/html/public
    file_server

    @reverb {
        path /app/*
    }
    reverse_proxy @reverb reverb:8080 {
        header_up Host {host}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
    }

    log {
        output stdout
        format console
    }
}
