{
    email alabamaster1@gmail.com
}

call.playerinlife.ru {

    root * /var/www/html/public
    encode zstd gzip

    # Reverb
		@reverb {
				path /app/* /apps/*
		}
    reverse_proxy @reverb reverb:8080

    # LiveKit
    handle_path /livekit* {
        uri strip_prefix /livekit
        reverse_proxy livekit:7881
    }

    # TURN
    handle_path /turn {
        reverse_proxy turn:3478
    }

    # PHP-FPM (Laravel application)
    #handle {
		php_server
		file_server
    #}
}
